h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

hr {
    height: 3px;
    background-color: black;
    margin-bottom: 2px;
    margin-top: 2px;
}

div{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navigation{
    margin-left: 15px;
    margin-right: 15px;
    font-size: large;
    display: inline-block;
}
p.navigation {
    color: blue;
    font-weight: bolder;
}

a.navigation {
    color: purple;
    font-size: large;
}